
<ol class = "links">
  <% @articles.each do |article|   %>
    <li>
      <p><img class = "arrow" src = "grayarrow.gif">
      <a href=<%="#{article['url']}" %>><%="#{article['headline']}"%></a></p>
      <p><%="#{article['description']}" %>
      <p>posted by: <%="#{article['name']}" %> | <a href="/articles/<%= "#{article['id']}" %>/comments">comments</a></p>
    </li>

  <% end %>
</ol>
